In [1]:
import pandas as pd
file_path = "movies.csv"
df = pd.read_csv(file_path)

In [2]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [3]:
df.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [5]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [9]:
df.to_csv("movies2.csv")

In [4]:
file_path = "movies2.csv"
df = pd.read_csv(file_path)

In [5]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772,Warner Bros.,146
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106,Columbia Pictures,104
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067,Lucasfilm,124
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539,Paramount Pictures,88
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344,Orion Pictures,98

In [6]:
df.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [28]:
df["name"].duplicated().sum()

84

In [29]:
df["name"].duplicated().sum()

84

In [30]:
df["name"] = df["name"].drop_duplicates()

In [31]:
df["name"].duplicated().sum()

84

In [21]:
df.loc[df["name"] == "Impulse"]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
338,Impulse,R,Horror,1984,"September 28, 1984 (United States)",5.9,1300,Graham Baker,Nicholas Kazan,Tim Matheson,United States,10000000,2773433,ABC Motion Pictures,91

In [34]:
df.isnull().sum()

name        85
rating       0
genre        0
year         0
released     0
score        0
votes        0
director     0
writer       0
star         0
country      0
budget       0
gross        0
company      0
runtime      0
dtype: int64

In [35]:
df = df.dropna()

In [38]:
df.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [39]:
df.to_csv("movies3.csv")

In [33]:
df.iloc[1:1000]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106,Columbia Pictures,104
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067,Lucasfilm,124
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539,Paramount Pictures,88
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344,Orion Pictures,98
5,Friday the 13th,R,Horror,1980,"May 9, 1980 (United States)",6.4,123000,Sean S. Cunningham,Victor Miller,Betsy Palmer,United States,550000,39754601,Paramount Pictures,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Graffiti Bridge,PG-13,Drama,1990,"November 2, 1990 (United States)",4.5,1800,Prince,Prince,Prince,United States,7500000,4562778,Paisley Park Films,90
996,Sibling Rivalry,PG-13,Comedy,1990,"October 26, 1990 (United States)",5.4,2500,Carl Reiner,Martha Goldhirsh,Kirstie Alley,United States,16000000,17854933,Castle Rock Entertainment,87
997,Tune in Tomorrow...,PG-13,Comedy,1990,"November 2, 1990 (United States)",6.2,1700,Jon Amiel,Mario Vargas Llosa,Barbara Hershey,United States,11000000,1794001,Odyssey,107
998,NaN,R,Crime,1990,"April 6, 1990 (United States)",5.7,1200,Sondra Locke,John DeMarco,Theresa Russell,United States,9000000,2544504,Warner Bros.,109
999,Terminator 2: Judgment Day,R,Action,1991,"July 3, 1991 (United States)",8.5,1000000,James Cameron,James Cameron,Arnold Schwarzenegger,United States,102000000,520881154,Carolco Pictures,137

In [41]:
file_path = "final_tag2.csv"
df = pd.read_csv(file_path)

In [42]:
df.head()

                                   name  amount_of_fan
0  00 Schneider - Jagd auf Nihil Baxter            1.0
1                  1 Per Cent | Outlaws            2.0
2                   10 Cloverfield Lane           13.0
3            10 Things I Hate About You          134.0
4                      The 10 Year Plan            5.0

In [43]:
df.isnull().sum()

name             0
amount_of_fan    8
dtype: int64

In [44]:
df = df.dropna()

In [45]:
df.isnull().sum()

name             0
amount_of_fan    0
dtype: int64

In [46]:
df.duplicated().sum()

27

In [47]:
df = df.drop_duplicates()

In [48]:
df.duplicated().sum()

0

In [49]:
df.isnull().sum()

name             0
amount_of_fan    0
dtype: int64

In [50]:
df.to_csv("final_tag3.csv")